### Bank Note Authentication

#### https://github.com/krishnaik06/Dockers

Data were extracted from images that were taken from genuine and forged banknote-like specimens. For digitization, an industrial camera usually used for print inspection was used. The final images have 400x 400 pixels. Due to the object lens and distance to the investigated object gray-scale pictures with a resolution of about 660 dpi were gained. Wavelet Transform tool were used to extract features from images.

In [1]:
##Dataset Link: https://www.kaggle.com/ritesaluja/bank-note-authentication-uci-data
import pandas as pd
import numpy as np

In [4]:
dataset = pd.read_csv('BankNote_Authentication.csv')
dataset.head()

   variance  skewness  curtosis  entropy  class
0   3.62160    8.6661   -2.8073 -0.44699      0
1   4.54590    8.1674   -2.4586 -1.46210      0
2   3.86600   -2.6383    1.9242  0.10645      0
3   3.45660    9.5228   -4.0112 -3.59440      0
4   0.32924   -4.4552    4.5718 -0.98880      0

In [5]:
X = dataset.iloc[:,:-1]
y = dataset.iloc[:,-1:]

In [10]:
X.head()

   variance  skewness  curtosis  entropy
0   3.62160    8.6661   -2.8073 -0.44699
1   4.54590    8.1674   -2.4586 -1.46210
2   3.86600   -2.6383    1.9242  0.10645
3   3.45660    9.5228   -4.0112 -3.59440
4   0.32924   -4.4552    4.5718 -0.98880

In [12]:
y.head()

   class
0      0
1      0
2      0
3      0
4      0

In [14]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2, random_state=0)

In [15]:
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier()
classifier.fit(X_train, y_train).score(X_train, y_train)

<ipython-input-15-e4e4a2550614>:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  classifier.fit(X_train, y_train).score(X_train, y_train)

1.0

In [16]:
y_pred = classifier.predict(X_test)

In [20]:
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
print(accuracy_score(y_test,y_pred))
print(confusion_matrix(y_test,y_pred))
print(classification_report(y_test,y_pred))

0.9854545454545455
[[155   2]
 [  2 116]]
              precision    recall  f1-score   support

           0       0.99      0.99      0.99       157
           1       0.98      0.98      0.98       118

    accuracy                           0.99       275
   macro avg       0.99      0.99      0.99       275
weighted avg       0.99      0.99      0.99       275

In [22]:
tn,fp,fn,tp = confusion_matrix(y_test,y_pred).reshape(-1)
print('tn = {}, fp={}, fn={}, tp={}'.format(tn,fp,fn,tp))

tn = 155, fp=2, fn=2, tp=116

In [23]:
tn/(tn+fn)

0.9872611464968153

In [24]:
tp/(tp+fp)

0.9830508474576272

#### Creating pickle file using serialization

In [25]:
import pickle
pickle_out = open("classifier.pkl", 'wb')
pickle.dump(classifier, pickle_out)
pickle_out.close()

In [27]:
pred = classifier.predict([[3.6216,8.6661,-2.8073,-0.44699]])

In [28]:
pred

array([0])