# Tuple

Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

- Tuple items are ordered(insertion order), unchangeable, and allow duplicate values.
- Tuple items are indexed, the first item has index [0], the second item has index [1] etc.

In [3]:
t = ("apple", "banana", "cherry", "apple", "cherry")
print(t)
print(len(t))
print(t[0])

('apple', 'banana', 'cherry', 'apple', 'cherry')
5
apple

In [5]:
for i in t:
    print(i)

apple
banana
cherry
apple
cherry

## Tuple Items - Data Types
Tuple items can be of any data type:

In [14]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3, "a")
tuple3 = (True, False, False)
print(tuple1)
print(tuple2)
print(tuple3)

('apple', 'banana', 'cherry')
(1, 5, 7, 9, 3, 'a')
(True, False, False)

## The tuple() Constructor

In [15]:
t = tuple(("apple", "banana", "cherry"))
print(t)

('apple', 'banana', 'cherry')

# Named Tuple

It returns a **tuple with a named entry, which means there will be a name assigned to each value in the tuple**. It overcomes the problem of accessing the elements using the **index values**. With namedtuple( ) it becomes easier to access these values, since you do not have to remember the index values to get specific elements.

In [20]:
from collections import namedtuple

Stud = namedtuple('Student', ['name', 'age', 'DOB'])

s = Stud('A', 35, '10/12/1990')
print(s)

print('The Student age using index is : ', s[1])
print('The Student age using keyname is : ', s.name)

Student(name='A', age=35, DOB='10/12/1990')
The Student age using index is :  35
The Student age using keyname is :  A

In [26]:
namedtuple?

Signature:
namedtuple(
    typename,
    field_names,
    *,
    rename=False,
    defaults=None,
    module=None,
)
Docstring:
Returns a new subclass of tuple with named fields.

>>> Point = namedtuple('Point', ['x', 'y'])
>>> Point.__doc__                   # docstring for the new class
'Point(x, y)'
>>> p = Point(11, y=22)             # instantiate with positional args or keywords
>>> p[0] + p[1]                     # indexable like a plain tuple
33
>>> x, y = p                        # unpack like a regular tuple
>>> x, y
(11, 22)
>>> p.x + p.y                       # fields also accessible by name
33
>>> d = p._asdict()                 # convert to a dictionary
>>> d['x']
11
>>> Point(**d)                      # convert from a dictionary
Point(x=11, y=22)
>>> p._replace(x=100)               # _replace() is like str.replace() but targets named fields
Point(x=100, y=22)
File:      c:\users\vinot\anaconda3\lib\collections\__init__.py
Type:      function

In [36]:
# initializing iterable  
li = ['Manjeet', '19', '411997' ] 
    
# initializing dict 
di = { 'name' : "Nikhil", 'age' : 19 , 'DOB' : '1391997' } 
    
# using _make() to return namedtuple() 
print ("The namedtuple instance using iterable is  : ") 
print (Stud._make(li))

# using _asdict() to return an OrderedDict() 
print ("The OrderedDict instance using namedtuple is  : ") 
print (s._asdict())

The namedtuple instance using iterable is  :
Student(name='Manjeet', age='19', DOB='411997')
The OrderedDict instance using namedtuple is  :
{'name': 'A', 'age': 35, 'DOB': '10/12/1990'}